* {
    text-align: center
}

table {
    margin: 0 auto;
}

table tr td {
    padding: 25px;
    text-align: center;
    line-height: 100%;
    border: 1px solid black;
}

.sum {
    background-color: #D3D3D3;
    display: none;
}